body {
  font-family: Monaco, monospace;
  background-color: rgb(255, 247, 176);
}

.aboutMe img {
  display: block;
  float: left;
  width: 280px;
  margin: 30px;
  border-style: solid;
  border-width: 2px;
}

.row img {
  width: 100%;
  padding: 10px;
}

.row a {
  font-size: 20px;
}

li {
  margin: 10px;
  list-style-type: circle;
}

div.aboutMe {
  background-color: #b49cd0;
  text-align: left;
  padding: 10px;
}

div .resume {
  text-align: left;
}

.resume, .title h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.aboutMe h2 {
  text-align: left;
}

.funFacts {
  margin-left: 330px;
  list-style-type: decimal;
}

.funFacts li {
  list-style-type: decimal;
}

.funFacts .shadow {
  list-style-type: circle;
}

.motto {
  border-style: solid;
  border-width: 2px;
  margin: auto;
  width: max-content;
  padding: 5px;
}

.webDev {
  text-decoration: underline;
}

.initials {
  color: #a93040;
  display: inline;
}

.OG {
  color: #b49cd0;
}

a:link {
  text-decoration: none;
  color: #ad4652;
}

a:visited {
  text-decoration: none;
  color: #a93040;
}

a:hover {
  text-decoration: none;
  color: #e66d7b;
}

a:active {
  text-decoration: none;
  color: #fa8895;
}

.col-3, .col-4, .col-12 {
  border-style: solid;
  border-width: 2px;
}

